* {
    margin: 0;
    list-style: none;
    font-family: 'Lato', sans-serif;
}

div.cabeca>img {
    height: 40px;
}

.cabeca {
    z-index: 2;
    height: 4em;
    background: rgba(0, 0, 0, .75);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: fixed;
    width: 100vw;
}


li {
    display: inline-block;
    padding-right: 1.5rem;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}


li:hover {
    color: #40aa0b;
}


#formiguinha {
    border-left: dashed 1px rgba(121, 120, 120, 0.5);
    padding: .6rem .8rem;
}

div.carrosel>img {
    max-width: 85.4em;
}

div.carrosel>h1 {
    color: white;
    font-weight: 800;
    position: relative;
    bottom: 35vh;
    left: 15vw;
}

div.carrosel>p {
    color: white;
    font-weight: 400;
    position: relative;
    bottom: 33vh;
    left: 15vw;
}

.botton {
    z-index: 1;
    background: #40aa0b;
    color: white;
    border-radius: 8px;
    text-align: center;
    font-weight: 400;
    width: 18em;
    padding: 10px;
    position: relative;
    bottom: 28vh;
    left: 15vw;
}

.bolinha {
    background: #40aa0b;
    border-radius: 10px;
    height: 8.5px;
    position: relative;
    bottom: 25vh;
    left: 15vw;
}

#bolaBranca {
    background: white;
}

.ombro {
    text-align: center;
    font-size: 24px;
}

div.ombro>p {
    text-align: center;
    font-weight: 300;
    font-size: 20px
}

.cursos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20.5%;
    position: relative;
    left: 10vw;
    top: 10vh;
}


div.curso1>img {
    z-index: -1;
    width: 20vw;
    height: 25vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: scale(1);
}

div.curso1>h1 {
    z-index: 1;
    color: white;
    font-weight: 700;
    font-size: 25px;
    position: relative;
    bottom: 10vh;
    left: 1vw;
    
}

.curso2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 26vh;
}

.curso2:hover {
    color: #40aa0b;
}

div.curso2>img {
    width: 3vw;
    height: 5.5vh;
    border-radius: 3px;
    transform: scale(1);
    margin-right: 10px;
}

div.curso2>p {
    font-weight: 600;
    font-size: 0.8em;
    transition: 0.5s;
}

.curso3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.5s;
}
.curso3:hover {
    color: #40aa0b;
}

div.curso3>img {
    width: 3vw;
    height: 5.5vh;
    border-radius: 3px;
    transform: scale(1);
    margin-right: 10px;
}

div.curso3>p {
    font-size: 0.8em;
    font-weight: 600;
}

.graduacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20.5%;
    position: relative;
    left: 31.5vw;
    bottom: 30vh;
}

div.inovar>img {
    width: 20vw;
    height: 25vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: scale(1);
    margin-right: 10px;
}

div.inovar>h1 {
    color: white;
    font-weight: 700;
    font-size: 25px;
    position: absolute;
    top: 18vh;
    left: 1vw;
}

.SI {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: 0.5vw;
    top: 1vh;
    transition: 0.5s;
}

.SI:hover {
    color: #40aa0b;
}

div.SI>img {
    width: 3vw;
    height: 5.5vh;
    border-radius: 3px;
    transform: scale(1);
    margin-right: 10px;
}

div.SI>p {
    font-size: 0.8em;
    font-weight: 600;
}

.ADS {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 0.5vw;
    top: 3vh;
    transition: 0.5s;
}

.ADS:hover {
    color: #40aa0b
}


div.ADS>img {
    width: 3.1vw;
    height: 5.3vh;
    border-radius: 3px;
    transform: scale(1);
    margin-right: 10px;
}

div.ADS>p {
    font-size: 0.8em;
    font-weight: 600;;
}

.CC {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: 0.5vw;
    top: 6vh;
}

div.CC>img {
    width: 3.1vw;
    height: 5.3vh;
    border-radius: 3px;
    margin-right: 10px;
}

div.CC>p {
    font-size: 0.8em;
    font-weight: 600;
}

.pós{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20.5%;
    position: relative;
    left: 22vw;
    bottom: 41.5vh;
}

.reinventar {
    position: relative;
    left: 31vw;
    bottom: 30vh;
}

div.reinventar>img {
    width: 20vw;
    height: 25vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: scale(1);
    margin-right: 10px;
}

div.reinventar>h1 {
    color: white;
    font-weight: 700;
    font-size: 25px;
    position: absolute;
    top: 15vh;
    left: 1vw;
}

.DSBD {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: 31vw;
    bottom: 29vh;

}

div.DSBD>img {
    width: 3.1vw;
    height: 5.5vh;
    border-radius: 3px;
    margin-right: 10px;
}

div.DSBD>p {
    font-size: 0.8em;
    font-weight: 600;
}

.DSFM {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: 31vw;
    bottom: 29vh;
    border: solid;
   
}

div.DSFM>img {
    width: 3.1vw;
    height: 5.5vh;
    border-radius: 3px;
    margin-right: 10px;
}