*{
    margin: 0;
    list-style: none;
    font-family: 'Lato', sans-serif;
}

div.cabeca>img {
    height: 40px;
}

.cabeca {
    height: 4em;
    background: rgba(0, 0, 0, .75);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: fixed;
    width: 100vw;
}


li {
    display: inline-block;
    padding-right: 1.5rem;
    color: white;
    font-weight: bold; 
    transition: 0.5s;
}


li:hover{
    color: #40aa0b;
}


#formiguinha {
    border-left: dashed 1px rgba(255, 255, 255, .5);
    padding: .6rem .8rem;
}

div.carrosel>img {
    max-width: 85.4em;
}

div.carrosel>h1 {
    color: white;
    font-weight: 800;
    position: relative;
    bottom: 35vh;
    left: 15vw;
}

div.carrosel>p {
    color: white;
    font-weight: 400;
    position: relative;
    bottom: 33vh;
    left: 15vw;
}

.botton{
    background: #40aa0b;
    color: white;
    border-radius: 8px;
    text-align: center;
    font-weight: 400;
    width: 18em;
    padding: 10px;
    position: relative;
    bottom: 28vh;
    left: 15vw;
}

.bolinha {
    background: #40aa0b;
    border-radius: 10px;
    height: 8.5px;
    position: relative;
    bottom: 20vh;
    left: 15vw;
}

#bolaBranca {
    background: white;
}

.ombro {
    text-align: center;
    font-size: 24px;
}

div.ombro>p {
    font-weight: 300;
    font-size: 20px
}

.cursos {
    display: flex;
    flex-direction: column;
}

div.curso1>img {
    position: relative;
    left: 10vw;
    top: 10vh;
    width: 20vw;
    height: 25vh;
    border-radius: 26px;
}

.curso2 { 
    display: flex;
    flex-direction: row;
}

div.curso2>img {
    position: relative;
    left: 11vw;
    top: 10vh;
    width: 3vw;
    height: 5vh;
    border-radius: 3px;
    padding: 5px;
}

div.curso2>p {
    font-weight: 300;
    font-size: 1em; 
    position: relative;
    left: 12vw;
    top: 11vh;
}
