* {
    margin: 0;
    border: none;
    list-style: none;
    font-family: 'Lato', sans-serif;
}



div.cabeca>img {
    height: 40px;
}

.cabeca {
    z-index: 2;
    height: 4em;
    width: 100vw;
    background: rgba(0, 0, 0, .75);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: fixed;
}


li {
    display: inline-block;
    padding-right: 1.5rem;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}


li:hover {
    color: #40aa0b;
}


#formiguinha {
    border-left: dashed 1px rgba(121, 120, 120, 0.5);
    padding: .6rem .8rem;
}


div.carrosel>img {
    width: 100%;
    height: 530px;
}

div.carrosel>h1 {
    color: white;
    font-weight: 800;
    position: absolute;
    bottom: 62vh;
    left: 15vw;
}

div.carrosel>p {
    color: white;
    font-weight: 400;
    position: absolute;
    bottom: 58vh;
    left: 15vw;
}

.botton {
    z-index: 1;
    background: #40aa0b;
    color: white;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.1px;
    height: 0.9em;
    width: 20em;
    padding: 1em;
    position: absolute;
    bottom: 45vh;
    left: 15vw;
}

div.botton>p {
    font-size: 14px;
}

.bolinha {
    background: #40aa0b;
    border-radius: 10px;
    height: 8.5px;
    position: absolute;
    bottom: 40vh;
    left: 15vw;
}

.slogan {
    padding: 0;
}

.slogan h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: 900;
    padding-top: 1em;
}

div.slogan>p {
    color: #424242;
    margin-top: 15px;
    text-align: center;
    font-weight: 300;
    font-size: 18px
}

.ombro {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding-left: 5em;
    padding-top: 5em;
}

.escola {
    display: flex;
    flex-direction: column; 
    margin-right: 0.9em;
    height: 41vh;
    width: 20vw;
    box-shadow: 3px 3px 5px whitesmoke;
    border-radius: 3px;
}


div.tecnica>img {
    z-index: -1;
    width: 20vw;
    height: 25vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transform: scale(1);
}

div.tecnica>h1 {
    z-index: 1;
    color: white;
    font-weight: 700;
    font-size: 25px;
    position: absolute;
    top: 130vh;
    left: 8vw;
}

.informatica {
    display: flex;
    align-items: center;
    height: 10vh;
    transition: 0.5s;
}

.informatica:hover {
    color: #40aa0b;
}

div.informatica>img {
    width: 3vw;
    height: 5.5vh;
    border-radius: 3px;
    transform: scale(1);
    margin-right: 10px;
}

div.informatica>p {
    font-weight: 600;
    font-size: 0.8em;
    transition: 0.5s;
}

.google {
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.google:hover {
    color: #40aa0b;
}

div.google>img {
    width: 3vw;
    height: 5.5vh;
    border-radius: 3px;
    transform: scale(1);
    margin-right: 10px;
}

div.google>p {
    font-size: 0.8em;
    font-weight: 600;
}

.graduacao {
    display: flex;
    flex-direction: column;
    margin-right: 0.9em;
    height: 50vh;
    width: 20vw;
    box-shadow: 3px 3px 5px whitesmoke;
    border-radius: 3px;
}

div.inovar>img {
    width: 20vw;
    height: 25vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transform: scale(1);
}

div.inovar>h1 {
    color: white;
    font-weight: 700;
    font-size: 25px;
    position: absolute;
    top: 133vh;
    left: 31vw;
}

.SI {
    display: flex;
    align-items: center;
    height: 10vh;
    transition: 0.5s;
}

.SI:hover {
    color: #40aa0b;
}

div.SI>img {
    width: 3vw;
    height: 5.5vh;
    border-radius: 3px;
    transform: scale(1);
    margin-right: 10px;
}

div.SI>p {
    font-size: 0.8em;
    font-weight: 600;
}

.ADS {
    display: flex;
    flex-direction: row;
    height: 10vh;
    transition: 0.5s;
}

.ADS:hover {
    color: #40aa0b
}


div.ADS>img {
    width: 3.1vw;
    height: 5.3vh;
    border-radius: 5px;
    transform: scale(1);
    margin-right: 10px;
}

div.ADS>p {
    font-size: 0.8em;
    font-weight: 600;;
}

.CC {
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.CC:hover {
    color:#40aa0b;
}

div.CC>img {
    width: 3.1vw;
    height: 5.3vh;
    border-radius: 3px;
    margin-right: 10px;
}

div.CC>p {
    font-size: 0.8em;
    font-weight: 600;
}

.pos{
    display: flex;
    flex-direction: column;
    margin-right: 0.9em;
    height: 42vh;
    width: 20vw;
    box-shadow: 3px 3px 5px whitesmoke;
    border-radius: 3px;
}

div.reinventar>img {
    width: 20vw;
    height: 25vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: scale(1);
    margin-right: 10px;
}

div.reinventar>h1 {
    color: white;
    font-weight: 700;
    font-size: 25px;
    position: absolute;
    top: 133vh;
    left: 54vw;
}

.DSBD {
    display: flex;
    align-items: center;
    height: 60px;
    transition: 0.5s;
}

.DSBD:hover {
    color:#40aa0b
}

div.DSBD>img {
    width: 3.1vw;
    height: 5.5vh;
    border-radius: 3px;
    margin-right: 10px;
}

div.DSBD>p {
    font-size: 0.8em;
    font-weight: 600;
}

.DFSM {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.5s;
}

.DFSM:hover {
    color:#40aa0b;
}

div.DFSM>img {
    width: 3.1vw;
    height: 5.5vh;
    border-radius: 3px;
    margin-right: 10px;
}

div.DFSM>p {
    font-size: 0.8em;
    font-weight: 600;
}

.cursos {
    display: flex;
    flex-direction: column;
    margin-right: 0.9em;
    height: 36vh;
    width: 20vw;;
    box-shadow: 3px 3px 5px whitesmoke;
    border-radius: 3px;
    transition: 0.5s;
}

.cursos:hover {
    color:#40aa0b;
}

div.curto>img {
    width: 20vw;
    height: 25vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: scale(1);
    margin-right: 10px;
}

div.curto>h1 {
    color: white;
    font-weight: 700;
    font-size: 25px;
    position: absolute;
    top: 130vh;
}

.AR {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
}

div.AR>img {
    width: 3.1vw;
    height: 5.5vh;
    border-radius: 3px;
    margin-right: 10px;
}

div.AR>p {
    font-size: 0.8em;
    font-weight: 600;
}